@using Soenneker.Quark.Components.Builders
@using Soenneker.Quark.Components.Builders.Colors
@using Soenneker.Quark.Divs
@inherits Soenneker.Quark.Components.Element

<Div Class="nav" @attributes="BuildAttributes()" >
    @ChildContent
</Div>

@code {

    [Parameter]
    public CssValue<ColorBuilder> Color { get; set; } = Components.Builders.Colors.Color.Primary;

    [Parameter]
    public bool Pills { get; set; }

    [Parameter]
    public bool Vertical { get; set; }

    [Parameter]
    public bool Justified { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        AppendToClassAttr(attributes, "nav");

        var baseClasses = "nav-tabs";

        if (Pills)
            baseClasses = "nav-pills";

        AppendToClassAttr(attributes, baseClasses);

        if (Vertical)
            AppendToClassAttr(attributes, "flex-column");

        if (Justified)
            AppendToClassAttr(attributes, "nav-justified");

        return attributes;
    }

}